.content {
  padding: 40px 0;
}
.show_lost {
  width: 20%;
  margin: auto;
  font-size: 20px;
  text-align: center;
  line-height: 3;
  color: var(--black);
  border-color: currentColor;
  border: 1px solid;
  border-radius: 10px;
}
.show_lost:hover {
  color: var(--orange);
}

