@media all and (min-width: 1024px) {
  .cardsList {
    padding: 40px 0;
    text-align: center;
  }
}
.show_more {
  padding: 15px 25px;
  font-size: 16px;
  color: var(--black);
  border-color: currentColor;
  border: 1px solid;
  border-radius: 10px;
}
.show_more:hover {
  color: var(--orange);
}
.loading {
  font-size: 20px;
  color: var(--grey99);
  text-align: center;
  line-height: 3;
}
.error {
  font-size: 20px;
  color: var(--orange);
  text-align: center;
}
